{% extends "base.html.twig" %}

{% block body %}
	
	<!-- NAVIGATEUR -->
	
	<nav id = 'mySidenav' class = 'sidenav_menu mySidenav col s12 m12 l3 xl2'>
		<div class = 'sidenav_menu_content column col s9 m9 l12 xl12'>
			<div class = 'col s12'>
				<ul class = 'column margin-auto color_a'>
					<li class = 'navigate_link cursor-pointer'>
						Événements
					</li>
				</ul>
				<div id = 'is_connect'>
					{# Gestion de la connexion #}
				</div>
			</div>
		</div>
	</nav>
	
	<!-- END NAVIGATEUR -->
{% endblock %}